/* Global style rules */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1px;
  overflow-x: hidden;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Raleway';
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Specific style rules */

.nav-container {
  display: block;
  position: fixed;
  text-align: center;
  width: 100%;
}

.nav-list {
  margin: 15px auto;
  max-width: 500px;
  border-bottom: 1px solid black;
}

.nav-list-item {
  display: inline;
  margin-right: 20px;
  height: 40px;
}

.nav-list-item a {
  color: black;
}

.content-container {
  margin-top: 80px;
}

.intro-section {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

.description {
  margin: 20px 0;
}

.icons-container {
  display: none;
}

.awesome-icon {
  color: black;
  margin-right: 10px;
}

a:hover .awesome-icon {
  color: green;
}

/* Blinking animation for cursor */

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.section {
  margin: 30px 7%;
}

.section-title {
  margin: 20px 0;
  text-align: center;
}

/* About section */

.about {
  text-align: center;
}

/* Projects section */

.project-item {
  overflow: auto;
  width: 70%;
  margin: 0 auto;
}

.project-image {
  float: left;
  width: 50%;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
}

.project-info {
  float: right;
  width: 47%;
  margin-left: 3%;
}

.project-tag {
  display: inline;
}
