/* Global style rules */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1px;
  overflow-x: hidden;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Raleway';
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Specific style rules */

.nav-container {
  display: block;
  text-align: center;
  width: 100%;
}

.nav-list {
  margin: 15px auto;
  max-width: 500px;
  border-bottom: 1px solid black;
}

.nav-list-item {
  display: inline;
  margin-right: 20px;
  height: 40px;
}

.nav-list-item a {
  color: black;
}

.top-content {
  /* Set it to the height and width of the browser window */
  width: 100vw;
  height: 100vh;
  /* Use flexbox to vertically center intro section */
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.intro-section {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  /* Use flexbox to vertically center intro section */
  align-self: center;
}

.name {
  font-size: 44px;
}

.description {
  margin: 20px 0;
}

.intro-content {
  display: none;
}

.my-image {
  width: 100px;
  margin: 0 auto;
}

.my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.icons-container {
  margin-top: 20px;
}

.awesome-icon {
  color: black;
  margin-right: 10px;
}

a:hover .awesome-icon {
  color: #66CCFF;
}

/* Blinking animation for cursor */

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.section {
  margin: 70px auto;
  width: 70%;
}

.section-title {
  margin: 60px 0;
  text-align: center;
  font-size: 36px;
}

/* About section */

.about-content {
  margin: 0 auto;
}

.about-line {
  margin: 10px 0;
  display: block;
}

/* Projects section */

.project-item {
  overflow: auto;
  margin: 40px auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #D3D3D3;
}

.project-item:last-of-type {
  border-bottom: none;
}

.project-image {
  float: left;
  width: 50%;
}

.project-image img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.project-image img:hover {
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.project-info {
  float: right;
  width: 45%;
  margin-left: 5%;
}

.project-title {
  margin-bottom: 15px;
  font-size: 28px;
}

.project-tag {
  display: inline;
  padding: 4px 9px;
  margin-right: 5px;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  background-color: #66CCFF;
  border-radius: 4px;
  white-space: nowrap;
  line-height: 32px;
}

.project-link i {
  margin-right: 5px;
}

.project-link a:hover {
  color: #66CCFF;
}

@media(max-width: 1024px) {
  .project-image {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  .project-info {
    width: 100%;
    margin-top: 30px;
  }

  .project-title, .project-links, .project-tags {
    text-align: center;
  }
}

/* Contact section */

.contact-form {
  margin: 0 auto;
}

.form-input, #message, #form-button {
  margin: 10px 0;
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 50px;
  border: 1px solid black;
  box-sizing: border-box;
}

.form-input {
  height: 50px;
}

#message {
  height: 200px;
  resize: vertical;
  padding-top: 15px;
}

.form-button-wrapper {
  text-align: center;
}

#form-button {
  background: none;
  width: 30%;
}

.input-icon {
  position: absolute;
  float: left;
  margin-top: 30px;
  margin-left: 15px;
  z-index: 2;
}